@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
div.wp-block-group {
	max-width: 840px;
	margin: 0 auto;
}

/* Header */
header img.site-icon {
	max-width: 48px;
	max-height: 48px;
}

input[type=search] {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid var(--wp--preset--color--primary);
	border-radius: 3px;
	font-size: 12px;
	background-color: white;
	background-image: url('../assets/images/search.svg');
	background-repeat: no-repeat;
	background-position: 4px 5px; 
	padding: 4px 10px 4px 32px;
}

input[type=search]:focus {
	box-shadow: none;
	border: 1px solid var(--wp--preset--color--secondary);
}