.post-type-archive-proyecto {
	.archive-grid {
		@apply max-w-5xl mx-auto py-8 px-6 m-0 gap-4 grid grid-cols-1 md:grid-cols-2;

		.lb-infinite-scroll {
			@apply col-span-1 w-full max-w-full md:col-span-2;
		}

		.lb-infinite-scroll__status {
			@apply block w-full text-center;
		}
	}
}

img.proyect-image {
	width: 100%;
	height: auto;
}

.mdl-chip {
	margin: 0;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	&.characterist {
		.mdl-chip__text {
			font-size: 10px;

		}
	}
}
