// De 760 para arriba.

@media screen and (min-width: 760px) {
  
  .mdl-mega-footer--middle-section {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .mdl-mega-footer--drop-down-section {
    min-width: 100%;
    justify-content: right;
  }

}